<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLインジェクション</title>
</head>
<body>
    <h3>「Jiro」と入力するとJiroの情報が表示されます</h3>
    <h3>「a" OR "a" = "a」と入力するとSQLインジェクションが成功し、全ユーザの情報が表示されてしまいます</h3>

    <form action="/inputName" method="POST">
        <label for="content">ユーザ名</label>
        <textarea name="content" id="content" placeholder="入力してください" required></textarea>
        <button type="submit">送信</button>
    </form>

<div>
    {% for i in data %}
    <div>
        <div>
            <p>{{ i }}</p>
        </div>
    </div>
    {% endfor %}
</div>

</body></html>